
.miguel-cabrera {
  border-radius: 50% ;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  color:blue
}

h1 {
  font-family: 'Noto Sans Osmanya', sans-serif;
  color:brown;
}

p {
  font-family: 'Playpen Sans', cursive;
  color:blue;
}
  div {
    background-color: blue;
}
#pelotero-venezolano {
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: brown;
}
